# Apple Watch Data - All Users Quick View

Simple notebook to load and view raw workout data from all 3 users.

In [1]:
import sys
from pathlib import Path
import pandas as pd

# Add parser to path
sys.path.append(str(Path.cwd()))
from parse_apple_health import AppleHealthParser

## User 1 Data

In [ ]:
# Load User1 workouts
base_dir_1 = Path("../../DATA/CUSTOM_DATA/apple_health_export_User1")
parser_1 = AppleHealthParser(str(base_dir_1 / "export.xml"), str(base_dir_1))
workouts_1 = parser_1.parse_workouts()

# Convert to DataFrame
df_user1 = pd.DataFrame([{
    'workout_id': w.workout_id,
    'date': w.start_date,
    'duration_min': w.duration_min,
    'distance_km': w.total_distance_km,
    'energy_kcal': w.total_energy_kcal,
    'elevation_m': w.elevation_ascended_m,
    'hr_avg': w.hr_avg,
    'hr_min': w.hr_min,
    'hr_max': w.hr_max,
    'has_gpx': w.gpx_file_path is not None
} for w in workouts_1])

print(f"User 1: {len(df_user1)} workouts")

In [4]:
df_user1.head(50)

,workout_id,date,duration_min,distance_km,energy_kcal,elevation_m,hr_avg,hr_min,hr_max,has_gpx
0,workout_20190814_135800,2019-08-14 13:58:00,12.927820,2.164320,123.9120,9.56,NaN,NaN,NaN,True
1,workout_20190814_141203,2019-08-14 14:12:03,18.649622,5.042190,260.4330,NaN,NaN,NaN,NaN,True
2,workout_20190814_143651,2019-08-14 14:36:51,15.524642,3.458750,182.6610,3.11,NaN,NaN,NaN,True
3,workout_20190814_150622,2019-08-14 15:06:22,11.450354,2.445070,137.0740,4.81,NaN,NaN,NaN,True
4,workout_20190817_103430,2019-08-17 10:34:30,35.009897,7.559260,434.7890,4.01,NaN,NaN,NaN,True
5,workout_20190818_185610,2019-08-18 18:56:10,10.314462,2.508900,126.6690,2.00,NaN,NaN,NaN,True
6,workout_20190821_092234,2019-08-21 09:22:34,12.710597,2.190680,135.5750,3.44,NaN,NaN,NaN,True
7,workout_20190821_094014,2019-08-21 09:40:14,4.125151,1.243850,61.9912,NaN,NaN,NaN,NaN,True
8,workout_20190821_094832,2019-08-21 09:48:32,7.632395,1.813910,92.1529,NaN,NaN,NaN,NaN,True
9,workout_20190821_100019,2019-08-21 10:00:19,3.202936,0.884490,44.0846,NaN,NaN,NaN,NaN,True
10,workout_20190821_101224,2019-08-21 10:12:24,3.584302,0.613263,29.1501,NaN,NaN,NaN,NaN,True
11,workout_20190828_184533,2019-08-28 18:45:33,14.024898,2.432730,149.8840,0.97,NaN,NaN,NaN,True
12,workout_20190828_190137,2019-08-28 19:01:37,12.409742,3.063280,157.2710,NaN,NaN,NaN,NaN,True
13,workout_20190929_171425,2019-09-29 17:14:25,38.780197,6.927870,414.3790,5.63,NaN,NaN,NaN,True
14,workout_20191013_170043,2019-10-13 17:00:43,15.393521,3.137090,178.5310,NaN,NaN,NaN,NaN,True
15,workout_20191013_171848,2019-10-13 17:18:48,7.326395,1.363990,71.2008,NaN,NaN,NaN,NaN,True
16,workout_20191229_162728,2019-12-29 16:27:28,41.315531,3.693980,261.9230,173.53,NaN,NaN,NaN,True
17,workout_20191229_174230,2019-12-29 17:42:30,6.732243,0.863504,53.0708,NaN,NaN,NaN,NaN,True
18,workout_20200315_173203,2020-03-15 17:32:03,10.908508,1.946440,116.7320,NaN,NaN,NaN,NaN,True
19,workout_20200317_160534,2020-03-17 16:05:34,25.616466,4.272920,235.0550,NaN,NaN,NaN,NaN,True
20,workout_20200318_144028,2020-03-18 14:40:28,69.845604,10.062000,553.8350,10.87,NaN,NaN,NaN,True
21,workout_20200319_165838,2020-03-19 16:58:38,62.851434,10.021600,558.5960,4.03,NaN,NaN,NaN,True
22,workout_20200323_172007,2020-03-23 17:20:07,49.045399,10.037500,613.0180,NaN,NaN,NaN,NaN,True
23,workout_20200409_150806,2020-04-09 15:08:06,19.779776,3.315730,175.9780,25.69,NaN,NaN,NaN,True
24,workout_20200410_170004,2020-04-10 17:00:04,16.377479,3.302810,195.2130,22.34,NaN,NaN,NaN,True
25,workout_20200411_162926,2020-04-11 16:29:26,24.623509,5.162820,303.6600,33.53,NaN,NaN,NaN,True
26,workout_20200412_171417,2020-04-12 17:14:17,13.578953,3.022740,153.7750,2.00,NaN,NaN,NaN,True
27,workout_20200414_132458,2020-04-14 13:24:58,24.033955,4.056750,230.0440,31.61,NaN,NaN,NaN,True
28,workout_20200415_180615,2020-04-15 18:06:15,16.116359,3.331870,177.2160,13.93,NaN,NaN,NaN,True
29,workout_20200418_153153,2020-04-18 15:31:53,13.672517,2.670460,150.9000,NaN,NaN,NaN,NaN,True
30,workout_20200418_155026,2020-04-18 15:50:26,11.000921,1.947750,114.7830,42.76,NaN,NaN,NaN,True
31,workout_20200422_174520,2020-04-22 17:45:20,23.439720,5.030660,272.4090,2.34,NaN,NaN,NaN,True
32,workout_20200424_160333,2020-04-24 16:03:33,24.555786,5.031270,271.9720,NaN,NaN,NaN,NaN,True
33,workout_20200424_162850,2020-04-24 16:28:50,14.564651,2.478290,148.3530,11.57,NaN,NaN,NaN,True
34,workout_20200425_150906,2020-04-25 15:09:06,7.381263,1.282840,69.7882,NaN,NaN,NaN,NaN,True
35,workout_20200425_151655,2020-04-25 15:16:55,25.671193,5.385110,312.0960,2.04,NaN,NaN,NaN,True
36,workout_20200426_153050,2020-04-26 15:30:50,8.884202,1.473490,85.6867,6.36,NaN,NaN,NaN,True
37,workout_20200426_153955,2020-04-26 15:39:55,23.672419,5.018880,289.0250,5.04,NaN,NaN,NaN,True
38,workout_20200427_163552,2020-04-27 16:35:52,75.721911,15.012200,873.4120,25.42,NaN,NaN,NaN,True
39,workout_20200428_151611,2020-04-28 15:16:11,46.125749,8.092750,413.8630,41.59,NaN,NaN,NaN,True
40,workout_20200429_153823,2020-04-29 15:38:23,49.646416,8.277850,462.4680,25.04,NaN,NaN,NaN,True
41,workout_20200503_143512,2020-05-03 14:35:12,23.459583,5.021390,293.4620,31.25,NaN,NaN,NaN,True
42,workout_20200505_092739,2020-05-05 09:27:39,12.615709,2.801180,162.1320,20.49,NaN,NaN,NaN,True
43,workout_20200507_174917,2020-05-07 17:49:17,29.520060,6.121850,375.5710,NaN,NaN,NaN,NaN,True
44,workout_20200509_153050,2020-05-09 15:30:50,9.815210,1.751610,101.7020,9.38,NaN,NaN,NaN,True
45,workout_20200509_181259,2020-05-09 18:12:59,23.183446,5.020050,289.5800,5.76,NaN,NaN,NaN,True
46,workout_20200510_140816,2020-05-10 14:08:16,24.766692,5.092290,274.6560,6.18,NaN,NaN,NaN,True
47,workout_20200510_151004,2020-05-10 15:10:04,22.640222,2.944940,167.7010,17.91,NaN,NaN,NaN,True
48,workout_20200512_170151,2020-05-12 17:01:51,77.241495,8.718530,520.7660,NaN,NaN,NaN,NaN,False
49,workout_20200516_153326,2020-05-16 15:33:26,21.284366,3.754770,241.2240,NaN,NaN,NaN,NaN,True

In [3]:
# User 1 summary
df_user1.describe()

,date,duration_min,distance_km,energy_kcal,elevation_m,hr_avg,hr_min,hr_max
count,285,285.000000,285.000000,263.000000,213.000000,150.000000,150.000000,150.000000
mean,2023-02-23 02:17:55.631578880,79.841568,8.510840,571.016505,95.439202,161.356473,113.206667,179.853333
min,2019-08-14 13:58:00,0.141609,0.000000,0.360170,0.970000,137.242000,48.000000,150.000000
25%,2020-06-27 09:47:24,24.766692,5.030660,292.256000,16.000000,154.101500,99.000000,174.000000
50%,2024-11-26 17:45:11,49.634722,8.279080,570.513000,63.930000,162.898500,111.000000,181.000000
75%,2025-05-15 11:18:50,65.619146,11.006100,749.607500,148.680000,168.774500,127.000000,188.000000
max,2025-11-23 10:37:25,4619.266667,41.918600,3182.850000,387.530000,185.546000,161.000000,193.000000
std,NaN,329.055168,5.172021,383.452720,94.158257,9.999852,20.554820,9.264486

## User 2 Data

In [5]:
# Load User2 workouts
base_dir_2 = Path("../../DATA/CUSTOM_DATA/apple_health_export_User2")
parser_2 = AppleHealthParser(str(base_dir_2 / "export.xml"), str(base_dir_2))
workouts_2 = parser_2.parse_workouts()

# Convert to DataFrame
df_user2 = pd.DataFrame([{
    'workout_id': w.workout_id,
    'date': w.start_date,
    'duration_min': w.duration_min,
    'distance_km': w.total_distance_km,
    'energy_kcal': w.total_energy_kcal,
    'elevation_m': w.elevation_ascended_m,
    'hr_avg': w.hr_avg,
    'hr_min': w.hr_min,
    'hr_max': w.hr_max,
    'has_gpx': w.gpx_file_path is not None
} for w in workouts_2])

print(f"User 2: {len(df_user2)} workouts")

Parsing workouts from ../../DATA/CUSTOM_DATA/apple_health_export_User2/export.xml...
  Parsed 50 running workouts...
  Parsed 100 running workouts...
  Parsed 150 running workouts...
  Parsed 200 running workouts...
 Found 209 running workouts
User 2: 209 workouts

In [6]:
df_user2.head(10)

,workout_id,date,duration_min,distance_km,energy_kcal,elevation_m,hr_avg,hr_min,hr_max,has_gpx
0,workout_20240716_170749,2024-07-16 17:07:49,25.187642,3.534170,184.3110,NaN,172.909,116.0,196.0,True
1,workout_20240719_083608,2024-07-19 08:36:08,28.983677,3.877630,202.4800,3.84,170.887,133.0,196.0,True
2,workout_20240720_091140,2024-07-20 09:11:40,26.957881,4.211280,220.8560,NaN,181.267,151.0,191.0,True
3,workout_20240722_154523,2024-07-22 15:45:23,26.795350,4.390920,219.9140,5.59,182.747,148.0,195.0,True
4,workout_20240723_171429,2024-07-23 17:14:29,26.104116,4.236070,208.7770,17.19,175.521,127.0,192.0,True
5,workout_20240724_093257,2024-07-24 09:32:57,24.008016,3.807840,191.1920,16.77,179.199,150.0,191.0,True
6,workout_20240813_060628,2024-08-13 06:06:28,23.136562,3.789110,174.6230,2.56,184.563,145.0,196.0,True
7,workout_20240818_164037,2024-08-18 16:40:37,20.240308,3.378690,166.1740,NaN,183.091,105.0,195.0,False
8,workout_20240819_091113,2024-08-19 09:11:13,20.367644,3.512690,169.0900,16.55,181.568,127.0,192.0,True
9,workout_20240821_085526,2024-08-21 08:55:26,3.279108,0.541638,25.4352,8.59,NaN,NaN,NaN,True

In [7]:
# User 2 summary
df_user2.describe()

,date,duration_min,distance_km,energy_kcal,elevation_m,hr_avg,hr_min,hr_max
count,209,209.000000,209.000000,201.000000,128.000000,199.000000,199.000000,199.000000
mean,2025-04-24 02:09:56.387559424,57.451273,6.709595,331.987197,23.495859,166.367071,112.683417,181.718593
min,2024-07-16 17:07:49,1.445512,0.004965,1.085210,2.000000,75.000000,50.000000,75.000000
25%,2024-12-20 14:37:18,26.975963,4.554930,216.884000,7.265000,154.056000,90.000000,167.000000
50%,2025-05-23 14:32:05,40.183339,6.065060,293.883000,14.570000,169.673000,115.000000,189.000000
75%,2025-08-31 17:59:40,54.850000,8.667070,424.630000,27.185000,180.159000,133.000000,195.000000
max,2025-11-25 10:24:06,3053.333333,19.841300,996.494000,294.550000,191.775000,175.000000,206.000000
std,NaN,209.491010,3.447216,176.276991,36.932699,18.172597,25.982031,17.403158

## User 3 Data

In [8]:
# Load User3 workouts
base_dir_3 = Path("../../DATA/CUSTOM_DATA/apple_health_export_User3")
parser_3 = AppleHealthParser(str(base_dir_3 / "export.xml"), str(base_dir_3))
workouts_3 = parser_3.parse_workouts()

# Convert to DataFrame
df_user3 = pd.DataFrame([{
    'workout_id': w.workout_id,
    'date': w.start_date,
    'duration_min': w.duration_min,
    'distance_km': w.total_distance_km,
    'energy_kcal': w.total_energy_kcal,
    'elevation_m': w.elevation_ascended_m,
    'hr_avg': w.hr_avg,
    'hr_min': w.hr_min,
    'hr_max': w.hr_max,
    'has_gpx': w.gpx_file_path is not None
} for w in workouts_3])

print(f"User 3: {len(df_user3)} workouts")

Parsing workouts from ../../DATA/CUSTOM_DATA/apple_health_export_User3/export.xml...
  Parsed 50 running workouts...
  Parsed 100 running workouts...
 Found 120 running workouts
User 3: 120 workouts

In [9]:
df_user3.head(10)

,workout_id,date,duration_min,distance_km,energy_kcal,elevation_m,hr_avg,hr_min,hr_max,has_gpx
0,workout_20230219_181423,2023-02-19 18:14:23,33.416667,4.98130,NaN,NaN,None,None,None,True
1,workout_20230220_180957,2023-02-20 18:09:57,29.116667,5.25860,NaN,NaN,None,None,None,True
2,workout_20230228_180702,2023-02-28 18:07:02,35.366667,6.45986,NaN,NaN,None,None,None,True
3,workout_20230303_170708,2023-03-03 17:07:08,39.550000,5.47130,NaN,NaN,None,None,None,True
4,workout_20230305_183943,2023-03-05 18:39:43,56.966667,9.98882,NaN,NaN,None,None,None,False
5,workout_20230306_181328,2023-03-06 18:13:28,60.716667,11.53530,NaN,NaN,None,None,None,True
6,workout_20230313_170856,2023-03-13 17:08:56,28.061260,5.15341,334.554,37.60,None,None,None,True
7,workout_20230317_180229,2023-03-17 18:02:29,38.000000,7.00000,NaN,NaN,None,None,None,False
8,workout_20230319_090236,2023-03-19 09:02:36,54.630465,9.41845,602.033,28.18,None,None,None,True
9,workout_20230321_181510,2023-03-21 18:15:10,29.639532,5.69542,357.254,7.64,None,None,None,True

In [10]:
# User 3 summary
df_user3.describe()

,date,duration_min,distance_km,energy_kcal,elevation_m
count,120,120.000000,120.000000,113.000000,103.000000
mean,2024-07-26 04:25:29.575000320,42.765822,6.876092,443.505865,20.434660
min,2023-02-19 18:14:23,1.636899,0.074835,6.141000,0.760000
25%,2023-11-01 21:10:30.750000128,29.331756,5.034572,320.594000,8.295000
50%,2024-10-20 12:17:27,36.931090,6.077855,383.406000,13.470000
75%,2025-04-12 06:43:55,52.631598,8.301388,545.365000,19.105000
max,2025-09-07 16:16:42,251.078676,31.342100,2209.180000,229.440000
std,NaN,28.740554,4.101309,284.553331,30.349198

## Combined Summary

In [11]:
# Add user column and combine
df_user1['user'] = 'User1'
df_user2['user'] = 'User2'
df_user3['user'] = 'User3'

df_all = pd.concat([df_user1, df_user2, df_user3], ignore_index=True)

print(f"\nTotal workouts across all users: {len(df_all)}")
print(f"\nWorkouts per user:")
print(df_all['user'].value_counts())

df_all.head(20)

Total workouts across all users: 614

Workouts per user:
user
User1    285
User2    209
User3    120
Name: count, dtype: int64

,workout_id,date,duration_min,distance_km,energy_kcal,elevation_m,hr_avg,hr_min,hr_max,has_gpx,user
0,workout_20190814_135800,2019-08-14 13:58:00,12.927820,2.164320,123.9120,9.56,NaN,NaN,NaN,True,User1
1,workout_20190814_141203,2019-08-14 14:12:03,18.649622,5.042190,260.4330,NaN,NaN,NaN,NaN,True,User1
2,workout_20190814_143651,2019-08-14 14:36:51,15.524642,3.458750,182.6610,3.11,NaN,NaN,NaN,True,User1
3,workout_20190814_150622,2019-08-14 15:06:22,11.450354,2.445070,137.0740,4.81,NaN,NaN,NaN,True,User1
4,workout_20190817_103430,2019-08-17 10:34:30,35.009897,7.559260,434.7890,4.01,NaN,NaN,NaN,True,User1
5,workout_20190818_185610,2019-08-18 18:56:10,10.314462,2.508900,126.6690,2.00,NaN,NaN,NaN,True,User1
6,workout_20190821_092234,2019-08-21 09:22:34,12.710597,2.190680,135.5750,3.44,NaN,NaN,NaN,True,User1
7,workout_20190821_094014,2019-08-21 09:40:14,4.125151,1.243850,61.9912,NaN,NaN,NaN,NaN,True,User1
8,workout_20190821_094832,2019-08-21 09:48:32,7.632395,1.813910,92.1529,NaN,NaN,NaN,NaN,True,User1
9,workout_20190821_100019,2019-08-21 10:00:19,3.202936,0.884490,44.0846,NaN,NaN,NaN,NaN,True,User1
10,workout_20190821_101224,2019-08-21 10:12:24,3.584302,0.613263,29.1501,NaN,NaN,NaN,NaN,True,User1
11,workout_20190828_184533,2019-08-28 18:45:33,14.024898,2.432730,149.8840,0.97,NaN,NaN,NaN,True,User1
12,workout_20190828_190137,2019-08-28 19:01:37,12.409742,3.063280,157.2710,NaN,NaN,NaN,NaN,True,User1
13,workout_20190929_171425,2019-09-29 17:14:25,38.780197,6.927870,414.3790,5.63,NaN,NaN,NaN,True,User1
14,workout_20191013_170043,2019-10-13 17:00:43,15.393521,3.137090,178.5310,NaN,NaN,NaN,NaN,True,User1
15,workout_20191013_171848,2019-10-13 17:18:48,7.326395,1.363990,71.2008,NaN,NaN,NaN,NaN,True,User1
16,workout_20191229_162728,2019-12-29 16:27:28,41.315531,3.693980,261.9230,173.53,NaN,NaN,NaN,True,User1
17,workout_20191229_174230,2019-12-29 17:42:30,6.732243,0.863504,53.0708,NaN,NaN,NaN,NaN,True,User1
18,workout_20200315_173203,2020-03-15 17:32:03,10.908508,1.946440,116.7320,NaN,NaN,NaN,NaN,True,User1
19,workout_20200317_160534,2020-03-17 16:05:34,25.616466,4.272920,235.0550,NaN,NaN,NaN,NaN,True,User1

In [12]:
# Summary by user
df_all.groupby('user').agg({
    'workout_id': 'count',
    'duration_min': ['mean', 'sum'],
    'distance_km': ['mean', 'sum'],
    'hr_avg': 'mean',
    'has_gpx': 'sum'
}).round(2)

      workout_id duration_min           distance_km           hr_avg has_gpx
           count         mean       sum        mean      sum    mean     sum
user
User1        285        79.84  22754.85        8.51  2425.59  161.36     271
User2        209        57.45  12007.32        6.71  1402.31  166.37     191
User3        120        42.77   5131.90        6.88   825.13     NaN     118

## Export DataFrames

Save to CSV for data wrangler or other tools

In [ ]:
# Save individual user data
output_dir = Path("outputs/quick_view")
output_dir.mkdir(parents=True, exist_ok=True)

df_user1.to_csv(output_dir / "user1_workouts.csv", index=False)
df_user2.to_csv(output_dir / "user2_workouts.csv", index=False)
df_user3.to_csv(output_dir / "user3_workouts.csv", index=False)
df_all.to_csv(output_dir / "all_users_workouts.csv", index=False)

print(f" Saved CSVs to: {output_dir}")